.fc-event {
    position: relative;
  }
  
  .fc-event .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 120px;
  }
  
  .fc-event:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  